 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.top-message {
  line-height: 18px;
  margin: 33px;
}

.body {
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  font-family: verdana, Arial, Helvetica, sans-serif;
  display: block;
}

.flash {
  color: green;
  margin: 33px;
}

table {
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: gray;
  display: block;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px 5px;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

label {
  display: block;
}

.field {
  margin-bottom: 10px;
}

.action {
  margin-bottom: 10px;
}

.show {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}